@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Serif');

/* Style */

body {
    background-color: white;
    margin-top: 50px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* Style our navbar. */
.navbar {
    background-color: transparent;
    border: 0;
    padding-top: 10px;
}

.fa {
    color: orange;
    font-size: 22pt;
    padding-top: 10px;
}

.fa:hover {
    color: pink;
    cursor: pointer;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: orange;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16pt;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: pink;
    font-family: 'Noto Serif', serif;
    font-size: 16pt;
}

/* Dashboard */
