/* Style */

body {
    /*background: #333 url("/static/img/splash.jpg");*/
    background-size: cover;
    color: #bbbbbb;
    margin-top: 50px;
}

.dashboard {
    background-color: #dfdfdd;
}

#table-buildings {
    margin-bottom: 30px;
}

#table-cities {
    margin-bottom: 30px;
}

#searchwrapper {
    padding: 10px;
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 50px;
}

#wrapper {
    padding: 10px;
    z-index: 100;
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 370px;
    max-height: 370px;
    overflow: scroll;
}

.jumbotron {
    padding: 0;
    background-color: rgba(230,230,230,0.6);
    border: white solid 2px;
}

.jumbotron h3, .jumbotron p, .jumbotron span {
    font-size: 11pt;
    color: #333333;
}

.jumbotron .photo-properties {
    max-width: 350px;
}

/* Style our navbar. */

.navbar {
    background-color: #333333;
    margin-bottom: 0;
}

.glyphicon-remove {
    cursor: pointer;
}

/* Size icon down. */
.icon {
    width: 25px;
    height: 25px;
}

.card {
    padding: 10px;
    height: 300px;
    max-width: 370px;
    max-height: 370px;
    overflow: scroll;
}

.carte-blanche {
    /*border: 2px dashed #dddddd;*/
    border-radius: 7px;
    background-color: #efefee;
}

.card-collectible {
    border-radius: 5px;
    background-color: #dddddd;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 5px;
}

.full-w {
    height: 700px;
    position: relative;
    padding: 0;
    margin-bottom: 30px;
}

/* Mapbox specific items. */
#map-mapbox {
    height: 100%;
    z-index: 0;
    position: relative;
}

#bar-chart {
    height: 100%;
}

#barChart {
    background-color: #efefee;
    height: 100%;
    width: auto;
}

a {
    cursor: pointer;
}

.navbar span:hover {
    color: #eeeeee;
}

.bldg-name {
    cursor: pointer;
}

.horizontalLine {
    border-top: thin solid #bbbbbb;
}

/* The footer always appears at the bottom of the browser window. */
footer {
    background-color: #333333;
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}