/* Style */

body {
    /*background: #333 url("/static/img/splash.jpg");*/
    background-size: cover;
    color: #bbbbbb;
    margin-top: 50px;
}

.jumbotron {
    padding: 0;
}


/* Style our navbar. */

.navbar {
    background-color: #333333;
    margin-bottom: 0;
}

.glyphicon-remove {
    cursor: pointer;
}


/* The footer always appears at the bottom of the browser window. */

footer {
    background-color: #333333;
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}

/* Size icon down. */

.icon {
    width: 25px;
    height: 25px;
}


.card {
    height: 300px;
    padding: 10px;
}

.carte-blanche {
    /*border: 2px dashed #dddddd;*/
    border-radius: 7px;
    background-color: #dddddd;
}

.card-collectible {
    border-radius: 7px;
    background-color: #999999;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

/* Mapbox specific items. */

#map-mapbox {
    height: 800px;
}

.full-w {
    padding: 0;
}

.placeholder {
    border: 3px solid #d9534f;
    min-height: 20em;
}

a {
    cursor: pointer;
}

.navbar span:hover {
    color: #eeeeee;
}

.bldg-name {
    cursor: pointer;
}

.horizontalLine {
    border-top: thin solid #bbbbbb;
}