<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/static/css/site.css">

    <script src='http://code.jquery.com/jquery.js'></script>
    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.rawgit.com/jwarby/jquery-awesome-cursor/master/dist/jquery.awesome-cursor.min.js"></script>

    <!-- my favicon -->
    <link rel="icon" 
      type="image/png" 
      href="/static/img/code-break.png">

    {% block title %} put your title here {% endblock %}

</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href='/buildings'>
            <span>TABLE</span>
          </a>
      </li>
      <li><a href='/map'>
            <span>MAP</span>
          </a>
      </li>
    </ul>

    {% if current_user %}

    <ul class="nav navbar-nav navbar-right">
      <li><a href='/dashboard'>
            <span>CARDS</span>
          </a>
      </li>

      <li><form action='/logout' method='POST'>
            <input type='submit' value='LOGOUT'></input>
          </form>
      </li>

      <li><a>
            <span>{{ current_user }}</span>
          </a>
      </li>

    </ul>

    {% endif %}

  </div>
</nav>

  <!-- flash messages display here -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-info" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

{% block content %} put your content here {% endblock %}

<footer>
    <p>Copyright tmdd 2016. All rights reserved.</p>
</footer>

</body>
</html>
