<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css">

    <!-- my favicon -->
    <link rel="icon" 
      type="image/png" 
      href="/static/img/x.png">

    {% block title %} put your title here {% endblock %}

<form action="/register" method="GET">
    <input type="submit" value="REGISTER">
</form>
<form action="/login" method="GET">
    <input type="submit" value="LOGIN">
</form>
<form action="/logout" method="POST">
    <input type="submit" value="LOGOUT">
</form>

</head>
<body>

    <!-- flash messages display here -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %} put your content here {% endblock %}

<footer>
    <p>Copyright tmdd 2016. All rights reserved.</p>
</footer>

</body>
</html>
