{% extends 'base.html' %}
{% block title %}

    <title>BUILDINGS</title>

    <link rel="stylesheet" href="../static/css/bootstrap-sortable.css">
    <link rel="stylesheet" href="/static/css/site.css">

{% endblock %}

{% block content %}

<br>

<h3>{{ bldgs[0].city.city.upper() }}</h3>

<!-- absolute position div element -->
                <tr id='current'>
                                    <td>
                        <p id='bldg-details'></p>
        <img id='bldg-img' src=''></img>
                </td>
                </tr>

<div class='container-fluid'>

    <div class='row'>
        <table id="table-buildings" class="table sortable table-sm table-bordered table-striped table-hover">

        <thead>
            <tr>
                <th data-defaultsign='nospan'><span class='glyphicon glyphicon-sort-by-attributes'></span> Rank</th>
                <th>Building Name</th>
                <th data-defaultsign='nospan' id='data-completed_yr'> Year Completed</th>
                <th>Status</th>
                <th data-defaultsign='nospan' id='data-floors'> Floors</th>
                <th data-defaultsign='nospan' id='data-height_ft'> Height (ft)</th>
                <th data-defaultsign='nospan' id='data-height_m'> Height (m)</th>
                <th>Material</th>
                <th>Use</th>
            </tr>
        </thead>

        <tbody>
            {% for bldg in bldgs %}
            <tr class='bldg-row' data-bldg='{{bldg.bldg_id}}'>
                <td scope="row">{{ bldg.rank }}</td>
                <td>{{ bldg.building_name }}</td>
                <td>{{ bldg.completed_yr }}</td>
                <td>{{ bldg.status }}</td>
                <td>{{ bldg.floors }}</td>
                <td>
                {% if bldg.height_ft is not none %}
                    {{ bldg.height_ft }}
                {% else %}
                    --
                {% endif %}</td>
                <td>
                {% if bldg.height_m is not none %}
                    {{ bldg.height_m }}
                {% else %}
                    --
                {% endif %}</td>
                <td>{{ bldg.material }}</td>
                <td>{{ bldg.use }}</td>
            </tr>
            {% endfor %}
        </tbody>

        </table>

    </div>
</div>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src='../static/js/bootstrap-sortable.js'></script>
    <script src='../static/js/table.js'></script>

{% endblock %}
