{% extends 'base.html' %}
{% block title %}

    <title>BUILDINGS</title>

    <link rel="stylesheet" href='../static/css/bootstrap-sortable.css'>

{% endblock %}

{% block content %}

<br>

<h3>{{ bldgs[0].city.city.upper() }}</h3>

<div class='container-fluid'>
    <div class='row collapse'>
        <div class='col-md-4'>
            <div id="carousel-bldg-photo" class="carousel slide collapse" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-bldg-photo" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-bldg-photo" data-slide-to="1"></li>
                <li data-target="#carousel-bldg-photo" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img id='bldg-img' src='' />
                  <div class="carousel-caption">
                    <br>
                    <span id='details-close' class='glyphicon glyphicon-remove'></span>
                    <p id='bldg-info'></p>
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            
            <br>
            <br>
        
        </div>
    </div>

    <div class='row'>
        <table id="table-buildings" class="table sortable table-sm table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th data-defaultsign='nospan'><span class='glyphicon glyphicon-sort-by-attributes'></span> Rank</th>
                <th>Building Name</th>
                <th data-defaultsign='nospan' id='data-completed_yr'> Year Completed</th>
                <th>Status</th>
                <th data-defaultsign='nospan' id='data-floors'> Floors</th>
                <th data-defaultsign='nospan' id='data-height_ft'> Height (ft)</th>
                <th data-defaultsign='nospan' id='data-height_m'> Height (m)</th>
                <th>Material</th>
                <th>Use</th>
            </tr>
        </thead>
        <tbody>
        {% for bldg in bldgs %}
            <tr>
                <td scope="row">{{ bldg.rank }}</td>
                <td class='bldg-name' data-bldg='{{bldg.bldg_id}}'>{{ bldg.building_name }}</td>
                <td>{{ bldg.completed_yr }}</td>
                <td>{{ bldg.status }}</td>
                <td>{{ bldg.floors }}</td>
                <td>
                {% if bldg.height_ft is not none %}
                    {{ bldg.height_ft }}
                {% else %}
                    --
                {% endif %}</td>
                <td>
                {% if bldg.height_m is not none %}
                    {{ bldg.height_m }}
                {% else %}
                    --
                {% endif %}</td>
                <td>{{ bldg.material }}</td>
                <td>{{ bldg.use }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

    <script src='https://code.jquery.com/jquery-1.12.3.js'></script>
    <script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
    <script src='../static/js/bootstrap-sortable.js'></script>
    <script src='../static/js/moment.min.js'></script>
    <script src='../static/js/table.js'></script>

{% endblock %}
