{% extends 'base.html' %}
{% block title %}

    <title>CITIES</title>

    <link rel="stylesheet" href='../static/css/bootstrap-sortable.css'>

{% endblock %}

{% block content %}

<br>

<h3> SKYSCRAPERS IN CITIES ACROSS THE WORLD </h3>

<div class='container-fluid'>

    <div class='row'>
        <table id="table-cities" class="table sortable table-sm table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th data-defaultsign='nospan'><span class='glyphicon glyphicon-sort-by-attributes'></span> Rank</th>
                <th>City</th>
                <th>Country</th>
                <th data-defaultsign='nospan' id='data-count'> Tall Building Count</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td scope="row">{{ city.rank }}</td>
                <td>{{ city.city }}</td>
                <td>{{ city.country }}</td>
                <td>{{ city.bldg_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

    <script src='https://code.jquery.com/jquery-1.12.3.js'></script>
    <script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
    <script src='../static/js/bootstrap-sortable.js'></script>
    <script src='../static/js/moment.min.js'></script>
    <script src='../static/js/table.js'></script>

{% endblock %}
