{% extends 'base.html' %}
{% block title %}

    <title>Dashboard:SkyscraperGO</title>

{% endblock %}

{% block content %}

<div class='container-fluid side-padding dashboard'>

<!-- <h3>CARD COLLECTION</h3> --><!-- <h3>COLLECT 'EM ALL!</h3> -->

{% if collection_html is defined %}
{% for row_html in collection_html %}
<div class="row">

{% for card_html in row_html %}

<div class="col-md-3">
  <div class="jumbotron" id="card">
    <span id='details-close' class='glyphicon glyphicon-remove'></span>
    <h3 class="card-title">{{ card_html[0] }}</h3>
    <img id="bldg-img" src="{{ card_html[1] }}" alt="../static/img/splash.jpg">
    <!-- <p class="card-text"></p> -->
    <!-- <a id="flip-card" data-bldg="{{ card_html[2] }}" class="btn btn-info">flip!</a> -->
    <br>
  </div>
</div>

{% endfor %}

</div>
{% endfor %}
{% endif %}

<br><br><br><br>
<br><br><br><br>

<!-- <div class="col-md-3">
  <div class="card card-block card-collectible">
    <h3 class="card-title">{ bldg.building_name }</h3>
    <img class="card-img-top thumbnail img-fluid" src="../static/img/splash.jpg" alt="Card image cap">
    <p class="card-text"></p>
    <a id="flip-card" data-bldg="{bldg.bldg_id}" class="btn btn-info">flip for info</a>
  </div>
</div> -->

<div class='row'>
<div class="col-md-3">
<!--   <div class="card card-block carte-blanche">
    <h3 class="card-title"><a href="#create">Create a new card.</a></h3> -->
    <a href='#create' id='collect-card' class='btn btn-info' role='button'>collect a card!</a>
<!--   </div> -->
</div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class='row' id='create'>
  <span>STEP 1: Search for a building.</span>
  <p>Try "Salesforce" if you don't have another in mind.</p>
    <form id='search-bldg' action='/search_bldg.json'>
      <input id='search-terms' type='text' placeholder='building name' name='building'>
      <button type='submit' class='btn btn-info' value='search'>search!</button>
    </form>
</div>

<br>
<br>

<div class='row collapse' id='search-table'>
        <table class="table sortable table-sm table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th data-defaultsign='nospan'><span class='glyphicon glyphicon-sort-by-attributes'></span> Rank</th>
                <th>Building Name</th>
                <th data-defaultsign='nospan' id='data-completed_yr'> Year Completed</th>
                <th>Status</th>
                <th data-defaultsign='nospan' id='data-floors'> Floors</th>
                <th data-defaultsign='nospan' id='data-height_ft'> Height (ft)</th>
                <th data-defaultsign='nospan' id='data-height_m'> Height (m)</th>
                <th>Material</th>
                <th>Use</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="rank" scope="row"></td>
                <td id="name"></td>
                <td id="year"></td>
                <td id="status"></td>
                <td id="floors"></td>
                <td id="feet"></td>
                <td id="meters"></td>
                <td id="material"></td>
                <td id="use"></td>
            </tr>
        </tbody>
        </table>
</div>

<br>

      <div class='jumbotron collapse' id='new-card'>
          <span id='details-close' class='glyphicon glyphicon-remove'></span>
          <h3 id='bldg-name'></h3>
          <div class='bldg-properties'>
            <p>building data: <span id='bldg-info'></span></p>
          </div>
          <div class='photo-properties'>
              <p>photo credits: <span id='photo-ownername'></span>
              <br>title: <span id='photo-title'></span>
              <br>description: <span id='photo-descript'></span></p>
          </div>
      </div>

<div class='row'>

  <form id='find-photo' action='/flickr_filter.json'>
  <span>STEP 2: Find a photo you like.</span>
  <p>Don't like the photo? Keep clicking until you find what you're looking for!</p>
    <button id='data-bldg-id' data-bldg-id='' type='submit' class='btn btn-info' value='find'>find!</button>
  </form>

      <div class="col-md-offset-2">
        <div id='new-card-phront'>
            <p id='photo-suggest'></p>
            <!-- <div id='bldg-img'></div> -->
            <img id='bldg-img-src' src=''/>
        </div>

        <br>

        <form id='create-card' action='/create_card.json'>
        <span>STEP 3: Preview.</span>
        <p>See how it looks.</p>
          <button id='data-bldg-id' data-bldg-id='' type='submit' class='btn btn-info' value='create'>create!</button>
        </form>

        <br>

        <form id='comment-card' action='/comment_card.json'>
        <span>STEP 4: Comment.</span>
          <input type='text' placeholder='enter your thoughts' name='comments'/>
          <button id='data-bldg-id' data-bldg-id='' type='submit' class='btn btn-info' value='comment'>comment!</button>
        </form>
      </div>

</div>

<br>
<br>

<form id='save-card' action='/save_card.json' method='post'>
  <button id='data-bldg-id' data-bldg-id='' type='submit' class='btn btn-info' value='save'>save!</button>
</form>

<br>
<br>

</div>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src='../static/js/dashboard.js'></script>

{% endblock %}
