{% extends 'base.html' %}
{% block title %}

    <title>Dashboard:SkyscraperGO</title>

{% endblock %}

{% block content %}

<div>
    <img class="icon" src="/static/img/x.png">
</div>

<h1>WELCOME CURRENT PLAYER: {{ current_user }}</h1>
<h1>DASHBOARD</h1>

<br>
<br>

<h1><a href='/map'>MAP</a></h1>

<br>
<br>

<h1><a href='/buildings'>TABLE VIEWS BUILDINGS</a></h1>
<h1><a href='/cities'>TABLE VIEWS CITIES</a></h1>
<br>
<br>

<h1><a href='/dendrogram'>DENDROGRAM</a></h1>

<div>
    <a href='/buildings'>See all buildings.</a><br>
    Search for a building.
    <form action='/buildings'>
        <input type="text" name="building" value="building"></input>
        <input type="submit" value="SEARCH"></input>
    </form>
</div>

{% endblock %}
