{% extends 'base.html' %}
{% block title %}

    <title>Dashboard:SkyscraperGO</title>

{% endblock %}

{% block content %}

<h3>HOMEPAGE</h3>

<div class='container-fluid'>

    <div class='row'>
        <div class='col-md-6'>
            <div class='placeholder thumbnail'>
                <h3><a href='/map'>MAP</a></h3>
                <div class="img img-responsive full-width"></div>
            </div>
        </div>

        <div class='col-md-6'>
            <div class='placeholder thumbnail'>
                <h3><a href='/buildings'>BUILDINGS TABLE</a></h3>
                <img src="" class="img img-responsive full-width" />
                    <a href='/buildings'>See all buildings.</a><br>
                    Search for a building.
                    <form action='/buildings'>
                        <input type="text" name="building" value="building"></input>
                        <input type="submit" value="SEARCH"></input>
                    </form>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='placeholder thumbnail'>
                <h3><a href='/dendrogram'>DENDROGRAM</a></h3>
                <img src="" class="img img-responsive full-width" />
            </div>
        </div>

        <div class='col-md-6'>
            <div class='placeholder thumbnail'>
                <h3><a href='/cities'>CITIES TABLE</a></h3>
                <img src="" class="img img-responsive full-width" />
            </div>
        </div>
    </div>
</div>



{% endblock %}
