<!DOCTYPE html>
<html>
<head>

    <title>hackscrapers</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/site.css">

    <script src="http://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

    <!-- my favicon -->
    <link rel="icon" type="image/png" href="/static/img/code-break.png">

</head>
<body id="login">

<div class="container login">

  <form action='/login' method='POST'>
      <label for="input-username">If you have previously visited hackscrapers<br>and know your Flickr username.</label>
      <input type="text" class='form-control' id="input-username" placeholder="Flickr username" name="username">

<hr>

      <button type="submit" class="btn btn-info" value="login">log in</button>

  </form>

</div>

</body>