{% extends 'base.html' %}
{% block title %}

    <title>Login:SkyscraperGO</title>

{% endblock %}

{% block content %}

<h1>WELCOME TO SKYSCRAPER GO!<br>COLLECT THEM ALL!</h1>

    <form action='/login' method='POST'>
        Username: 
        <input type="text" name="username" value="username"></input>
        Password:
        <input type="text" name="password" value="password"></input>
        <input type="submit" value="Login"></input>
    </form>

<h4>New user? Register <a href='/register'>here!</a></h4>

{% endblock %}
