<!DOCTYPE html>
<html>
<head>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.0/mapbox-gl-geocoder.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.0/mapbox-gl-geocoder.css' type='text/css' />

    
    <!-- <link href='../static/css/mapbox.css' rel='stylesheet' /> -->

    <!-- my favicon -->
    <link rel="icon" 
      type="image/png" 
      href="/static/img/x.png">

</head>

<body>
    <h1>San Francisco</h1>
    <div id='map-mapbox' style='height: 600px;' />

    <form>
        <input type="submit" value="testing AJAX" id="testing-ajax"></input>
    </form>

    <script src='../static/js/mapbox.js'></script>
</body>
</html>